/* Unit .less */

/**
 * define Constants
 */
@column_width: 			40px;
@gutter_width:			20px;
@number_of_columns: 16;

// requires @column_width to be an even number
@padding_left: (@column_width / 2);
@padding_right: (@column_width / 2);
@combined_width: (@column_width + @padding_left + @padding_right);


/**
 * define Less mixins
 */
/* adapted drupal .clearfix - which unadulterated would have impacted performance */
.fix () {
	_height: 1px;
	min-height: 1px;
	*zoom: 1;
	&:after {
	  .fix-after();
	}
}
.fix-after () {
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.unit(@unit: 1) {
  width: (@unit * @column_width);
  max-width: (@unit * @column_width);
}



/*
 * CSS
 */
.units {
	/* wraps a set of unit columns  */
	.fix();
}
.units-&@{number_of_columns},
.u-wrapper-&@{number_of_columns} {
	/* used in parallel with .units */
	width: (@combined_width * @number_of_columns);
	min-width: (@combined_width * @number_of_columns);
}
.units-matched-page-gutters,
.u-wrapper-matched-page-gutters {
	padding-left: @padding_left;
	padding-right: @padding_right;
}
.u-module,
.u-inner {
	padding-left: @padding_left;
	padding-right: @padding_right;
}
.u-breakout {
	margin-left: -@padding_left;
	margin-right: -@padding_right;
}
.u-1, .u-2, .u-3, .u-4, .u-5, .u-6, .u-7, .u-8, .u-9, .u-10, .u-11, .u-12, .u-13, .u-14, .u-15, .u-16 {
	float: left;
	position: relative;
	.fix();
}
.u-1 {.unit(1);}
.u-2 {.unit(2);}
.u-3 {.unit(3);}
.u-4 {.unit(4);}
.u-5 {.unit(5);}
.u-6 {.unit(6);}
.u-7 {.unit(7);}
.u-8 {.unit(8);}
.u-9 {.unit(9);}
.u-10 {.unit(10);}
.u-11 {.unit(11);}
.u-12 {.unit(12);}
.u-13 {.unit(13);}
.u-14 {.unit(14);}
.u-15 {.unit(15);}
.u-16 {.unit(16);}



/*
 * Fractions
 * e.g.
 * .u-1-2 is a half, and
 * .u-1-3 is a third
 *
 * use in tandem with .unit
 *   e.g. .unit.u-1-5
 *
 */
.unit-fraction (@numerator; @denominator) {
  .u-&@{numerator}-&@{denominator} {
    width: percentage(@numerator / @denominator);
  }
}
// .unit-fraction(1, 16);

.unit:last-child {
	width: auto;
	overflow: hidden;
	float: none;
	zoom: 1;
}
.unit:last-child:after {
	content: "";
	display: none;
}
.u-1-16 {width: 6.25%;}
.u-2-16 {width: 12.5%;}
.u-3-16 {width: 18.75%;}
.u-4-16 {width: 25%;}
.u-5-16 {width: 31.25%;}
.u-6-16 {width: 37.5%;}
.u-7-16 {width: 43.75%;}
.u-8-16 {width: 50%;}
.u-9-16 {width: 56.25%;}
.u-10-16 {width: 62.5%;}
.u-11-16 {width: 68.75%;}
.u-12-16 {width: 75%;}
.u-13-16 {width: 81.25%;}
.u-14-16 {width: 87.5%;}
.u-15-16 {width: 93.75%;}
.u-16-16 {width: 100%;}

.u-1-12 {width: 8.333333333333333%;}
.u-2-12 {width: 16.666666666666666%;}
.u-3-12 {width: 25%;}
.u-4-12 {width: 33.333333333333333%;}
.u-5-12 {width: 41.666666666666666%;}
.u-6-12 {width: 50%;}
.u-7-12 {width: 58.333333333333333%;}
.u-8-12 {width: 66.666666666666666%;}
.u-9-12 {width: 75%;}
.u-10-12 {width: 83.333333333333333%;}
.u-11-12 {width: 91.666666666666666%;}
.u-12-12 {width: 100%;}

.u-1-8	{width: 12.5%;}
.u-2-8	{width: 25%;}
.u-3-8	{width: 37.5%;}
.u-4-8	{width: 50%;}
.u-5-8	{width: 62.5%;}
.u-6-8	{width: 75%;}
.u-7-8	{width: 87.5%;}
.u-8-8	{width: 100%;}

.u-1-6	{width: 16.666666666666666%;}
.u-2-6	{width: 33.333333333333333%;}
.u-3-6	{width: 50%;}
.u-4-6	{width: 66.666666666666666%;}
.u-5-6	{width: 83.333333333333333%;}
.u-6-6	{width: 100%;}

.u-1-5	{width: 20%;}
.u-2-5	{width: 40%;}
.u-3-5	{width: 60%;}
.u-4-5	{width: 80%;}
.u-5-5	{width: 100%;}

.u-1-4	{width: 25%;}
.u-2-4	{width: 50%;}
.u-3-4	{width: 75%;}
.u-4-4	{width: 100%;}

.u-1-3	{width: 33.333333333333333%;}
.u-2-3	{width: 66.666666666666666%;}
.u-3-3	{width: 100%;}

.u-1-2	{width: 50%;}
.u-1-1	{width: 100%;}


/*
 * Folding Pattern Layout Mixins
 */
.folding-pattern {
  .fix();
}
.folding-pattern-inner(a) {
  .fold-1 {
    width: auto;
  }
  .fold-2 {
	  float: left;
	  width: 50%;
  }
  .fold-3 {
	  float: right;
	  width: 50%;
  }
}
.folding-pattern-inner(b) {
  .fold-1 {
	  float: left;
	  width: 33.3333%;
  }
  .fold-2,
  .fold-3 {
    float: right;
    width: 66.6666%;
  }
}
.folding-pattern-inner(c) {
  .fold-1 {
	  float: left;
	  width: 50%;
  }
  .fold-2 {
	  float: right;
	  width: 50%;
  }
  .fold-3 {
    clear: both;
  }
}
.folding-pattern-inner(d) {
  .fold-1 {
	  float: left;
	  width: 66.6666%;
  }
  .fold-2 {
	  float: right;
	  width: 33.3333%;
  }
  .fold-3 {
    float: left;
	  width: 66.6666%;
  }
}
.folding-pattern (@type) {
  .folding-pattern-@{type} {
    .folding-pattern-inner(@type);
  }
}
.folding-pattern (@type; @min; @max) {
  @query: ~"screen and (min-width: @{min}px) and (max-width: @{max}px)";
  @media @query {
    .folding-pattern--&@{min}-&@{max} {
      .folding-pattern;
    }
    .folding-pattern-&@{type}--&@{min}-&@{max} {
      .folding-pattern-inner(@type);
    }
  }
}
/*
 * Folding Pattern CSS
 */
.folding-pattern(a);
.folding-pattern(b);
.folding-pattern(c);
.folding-pattern(d);











